{% extends "feed/layout.html" %}
{% load crispy_forms_filters %} {% load crispy_forms_tags %} {% load static %}
{% block content %}<br/>
 <div class="log-container">
          <h1 class="log-header">Reset Password</h1>
          <form class="log-form  align=center"  method="POST">
            {% csrf_token %}
            <fieldset>
              <br />
              {{ form|crispy }}
            </fieldset>
            <div>
              <button
                class="layout-navlink button button-secondary"
                type="submit"
              >Reset Password</button
              >
            </div>
          </form>
        </div>
{% endblock content %}
